<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
        
    </head>
    <body>
        {{>header}}
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
           Eos, pariatur ducimus, earum cumque atque placeat ex labore praesentium,
           nostrum nemo ratione quaerat veritatis vero asperiores eum.</p>

        {{>footer}}
            
    </body>


</html>